

<div class="swiper-container" [swiper]="config">
  
  <div class="swiper-wrapper">

      <div class="swiper-slide" *ngFor="let month of months; let monthIndex = index">
          <div *ngIf="!monthIndex;then headerGrid else mainGrid"></div>  

          <ng-template #headerGrid>
            
            <div [ngStyle]="styleGrid(1)" class="calendar-grid">
              <div class="cell empty"></div>
              <div class="cell header " [ngStyle]="styleHeader(1)">{{month.key}}</div>
              <div class="cell empty"></div>
              <div class="cell columnTitle" *ngFor="let column of columns; let columnIndex = index">
                {{column.value}}
              </div>
              <ng-container *ngFor="let row of rows; let rowIndex = index">
                  <ng-container *ngFor="let column of columns.length + 1 | toCollection; let columnIndex = index">
                      <div class="cell rowTitle" *ngIf="columnIndex === 0">{{row[columnIndex*(1+rowIndex)].value | uppercase }}</div>  
                      <div class="cell" *ngIf="columnIndex > 0 ">
                        <div class="cell-icon" [ngStyle]="styleCell(row[columnIndex].value)"></div>

                      </div>  
                    </ng-container>
              </ng-container >
            </div>
          
          </ng-template>
          <ng-template #mainGrid>
              <div [ngStyle]="styleGrid(0)" class="calendar-grid">
                  <div class="cell header " [ngStyle]="styleHeader(0)">{{month.key}}</div>
                  <div class="cell columnTitle" *ngFor="let column of columns; let columnIndex = index">
                    {{column.value}}
                  </div>
                  <ng-container *ngFor="let row of rows; let rowIndex = index">
                 
                      <ng-container *ngFor="let column of columns.length | toCollection; let columnIndex = index">
                          <div class="cell" *ngIf="row[(columnIndex + (columns.length) * (monthIndex))+1]">

                            <div class="cell-icon" [ngStyle]="styleCell(row[(columnIndex + (columns.length) * (monthIndex))+1].value)">x</div>
                          </div>  
                        </ng-container>
                  </ng-container >
                </div>
            
          </ng-template>


      </div>

  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>

</div>
<button (click)="randomizeData()">Randomize data</button>
